<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs")%>
<%- include("./partials/navbar.ejs")%>
<body>
    <div class="container">
        <h2> A Simple ToDo List App </h2>
        <%= user.id %><p>sample</p>
        <form action = "/user/<%= user.id %>/todo/new" method="POST">
               <input type="text" name="description" placeholder="add new task">   <button type = "submit"> Add Task </button>
               <!-- <button formaction="/removetask" type="submit"> Remove </button> -->    
        </form>
        <h2> Added Task </h2>
        <% user.listItems.forEach(listItem => { %>
            <li> <%= listItem.description %> </li>
        <% }) %>
    </div>

</body>
<%- include("./partials/footer.ejs")%>
</html>