<%- include("./partials/header.ejs")%>
<%- include("./partials/navbar.ejs")%>
<body>
    <div class="container">
        <h2> <%= listItemFromController.description %>! </h2>
        <form action="/itemt/<%= listItemFromController.id %>?_method=PUT" method="POST">
            <textarea name="description" cols="30" rows="10"><%= listItemFromController.description %></textarea>
            <input type="submit" value="Edit">
        </form>

    </div>

</body>
<%- include("./partials/footer.ejs")%>
</html>     
